deb http://{{ debian_mirror }}/debian/ wheezy main
deb-src http://{{ debian_mirror }}/debian/ wheezy main

deb http://{{ debian_backports_mirror }}/debian/ wheezy-backports main
deb-src http://{{ debian_backports_mirror }}/debian/ wheezy-backports main

deb http://{{ debian_security_mirror }}/debian-security/ wheezy/updates main
deb-src http://{{ debian_security_mirror }}/debian-security/ wheezy/updates main
