insert into settings set name = 'sys_api_enabled', value = '1', updated_on = now();
insert into settings set name = 'sys_api_key', value = '{{ api_key }}', updated_on = now();
insert into settings set name = 'autofetch_changesets', value = '0', updated_on = now();
insert into settings set name = 'bcc_recipients', value = '0', updated_on = now();
insert into settings set name = 'enabled_scm', value = '---\n- Subversion\n- Git';
